@model IEnumerable<Asp.Net_Task1.Entities.Fastfood>
@{
    ViewData["Title"] = "FastFoods";
}

<head>
</head>


<body>


    <div>
        <ol style="font-size:45px;">
            <li style="font-size:30px;">
                <div>
                    <div style="font-size:40px; font-weight:bold">Fast Foods</div>
                    <br />
                    @foreach (var item in Model)
                    {
                        <p>@item.FastFoodId. @item.FastFoodName -> @item.FastFoodPrice manat</p>
                    }
                </div>

            </li>
        </ol>
    </div>



</body>
